@model Laureat.Domain.Entities.User

<div class="well">
    <h2><span class="lead"><strong>@Model.Name</strong></span></h2>
    <h3>
        Email : @Model.Email
        <span class="pull-right label label-primary">Phone : @Model.Phone</span>
    </h3>
</div>